body {
  margin: 0;
  background-color: darkgrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

#controls {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  z-index: 100;
}

#miniMapCanvas {
  background: black;
  margin-bottom: 2em;
}
#networkCanvas {
  margin-top: 2em;
  background: black;
  height: 500px;
  aspect-ratio: 3 / 5;
}
#worldCanvas {
  background-color: #2a5;
}

#controls button {
  pointer-events: auto;
  margin: 0.3em;
  margin-bottom: 0.15em;
  padding: 2px;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 1px black;
  width: 1.5em;
}

#controls button:hover {
  border: 2px solid black;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
